<%- include('_header', {title: "Your reading list"}) %>
	<div class="alert info" id="alert">	</div>

	<div class="onboard">
		<h1>What would you like to add today?</h1>
		<form>
			<input type="text" name="" id="linkField" placeholder="ElonMuskAbout2ReleaseTheNextBigThing.com">
			<button id="addLink"><i class="fas fa-paper-plane" id="sendIcon"></i> <i id="waitIcon"
					class="fa fa-spinner fa-spin"></i></button>
		</form>
	</div>
</div> <!-- /container -->
<div class="account">
	<div class="container">
		<h2>Account preferences</h2>
	
		<div class="row">
			<div class="col-12">
					<!-- Username <input type="text"></div> -->
					<!-- <br> -->
					<span class="pocket--status <%- user.pocket_linked ? 'active' : 'inactive' %>"></span> 
					<% if(!user.pocket_linked){ %>
						Your Pocket account is not synced, you can automate your list by <a href="/login/pocket">linking Pocket now</a>
					<% }else{ %>
						Your Pocket account is synced, your links are automatically imported! You can also <a href="/account/forcepocket">force the refresh by clicking here</a>.
					<% } %>
			</div>
			<div class="col-12">
				<form method="post" action="/account/update" style="text-align: center">
	
					<input type="checkbox" name="1" id="1" class="day_checkbox"> <label for="1" class="day_checkbox_label">Monday</label>
					<input type="checkbox" name="2" id="2" class="day_checkbox"> <label for="2" class="day_checkbox_label">Tuesday</label>
					<input type="checkbox" name="3" id="3" class="day_checkbox"> <label for="3" class="day_checkbox_label">Wednesday</label>
					<input type="checkbox" name="4" id="4" class="day_checkbox"> <label for="4" class="day_checkbox_label">Thursday</label>
					<input type="checkbox" name="5" id="5" class="day_checkbox"> <label for="5" class="day_checkbox_label">Friday</label>
					<input type="checkbox" name="6" id="6" class="day_checkbox"> <label for="6" class="day_checkbox_label">Saturday</label>
					<input type="checkbox" name="0" id="0" class="day_checkbox"> <label for="0" class="day_checkbox_label">Sunday</label>
	
					<br>
	
					<label for="hour_preference">Preferred hour</label>
					<select name="hour_preference" id="hour_preference">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8" selected="selected">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
					</select>
	
					<br>
	
					<label for="timezone_offset">Your timezone</label>
					<select name="timezone_offset" id="timezone-offset" class="span5">
						<option value="-12:00">(GMT -12:00) Eniwetok, Kwajalein</option>
						<option value="-11:00">(GMT -11:00) Midway Island, Samoa</option>
						<option value="-10:00">(GMT -10:00) Hawaii</option>
						<option value="-09:50">(GMT -9:30) Taiohae</option>
						<option value="-09:00">(GMT -9:00) Alaska</option>
						<option value="-08:00">(GMT -8:00) Pacific Time (US &amp; Canada)</option>
						<option value="-07:00">(GMT -7:00) Mountain Time (US &amp; Canada)</option>
						<option value="-06:00">(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
						<option value="-05:00">(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
						<option value="-04:50">(GMT -4:30) Caracas</option>
						<option value="-04:00">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
						<option value="-03:50">(GMT -3:30) Newfoundland</option>
						<option value="-03:00">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
						<option value="-02:00">(GMT -2:00) Mid-Atlantic</option>
						<option value="-01:00">(GMT -1:00) Azores, Cape Verde Islands</option>
						<option value="+00:00" selected="selected">(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
						<option value="+01:00">(GMT +1:00) Brussels, Copenhagen, Madrid, Paris</option>
						<option value="+02:00">(GMT +2:00) Kaliningrad, South Africa</option>
						<option value="+03:00">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
						<option value="+03:50">(GMT +3:30) Tehran</option>
						<option value="+04:00">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
						<option value="+04:50">(GMT +4:30) Kabul</option>
						<option value="+05:00">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
						<option value="+05:50">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
						<option value="+05:75">(GMT +5:45) Kathmandu, Pokhara</option>
						<option value="+06:00">(GMT +6:00) Almaty, Dhaka, Colombo</option>
						<option value="+06:50">(GMT +6:30) Yangon, Mandalay</option>
						<option value="+07:00">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
						<option value="+08:00">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
						<option value="+08:75">(GMT +8:45) Eucla</option>
						<option value="+09:00">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
						<option value="+09:50">(GMT +9:30) Adelaide, Darwin</option>
						<option value="+10:00">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
						<option value="+10:50">(GMT +10:30) Lord Howe Island</option>
						<option value="+11:00">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
						<option value="+11:50">(GMT +11:30) Norfolk Island</option>
						<option value="+12:00">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
						<option value="+12:75">(GMT +12:45) Chatham Islands</option>
						<option value="+13:00">(GMT +13:00) Apia, Nukualofa</option>
						<option value="+14:00">(GMT +14:00) Line Islands, Tokelau</option>
					</select>
					
					<br> <!-- Good ol' br-->
	
					<input type="submit" name="Save">
				</form>
			</div>
	
		<h2>Your reading list</h2>
		<div class="row">
			<div class="col-1">&nbsp;</div>
			<div class="col-10"> 
				<table>
					<tr>
						<th>Sent</th>
						<th>Title</th>
						<th>Misc</th>
					  </tr>
					  <% links.forEach((link) => {   %>
						  <tr>
							<td>
								<% if(link.state){ %>
									<i class="fas fa-check" title="Sent on <%= link.updatedAt %>"></i>
								<% }else{ %> 
									<i class="fas fa-times" title="This link is on queue, soon in your inbox"></i>
								<% } %>
							</td>
							<td>
								<a href="<%= link.link %>" target="_blank" style="text-decoration: none;">
									<% if(link.title){ %>
										<%= link.title %>
									<% }else{ %> 
										<span style="color:#777;">No title yet.</span>
									<% } %>
								</a>
							</td>
							<td class="arLinks">
								<% if(!link.state){ %>
									<i class="fas fa-trash-alt" onclick="_delete(<%= link.id %>)" id="l<%= link.id %>"></i>
								<% }else{ %>
									<i class="fas fa-redo-alt" onclick="_resend(<%= link.id %>)" id="rsl<%= link.id %>" title="Resend article"></i>
								<% } %>
							</td>
						  </tr>
					  <% }) %>
				</table>
				<% if(!links){ %>
					<span style="text-align: center">Congrats, your reading list is empty! It's time to procrastinate again 👏</span>
				<% } %>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/account.js"></script>
<script type="text/javascript">
	let preferences = <%- JSON.stringify(preferences) %>
	for(let day_checkbox of document.querySelectorAll(".day_checkbox")) {
		if (preferences.days.includes(day_checkbox.id)) {
			day_checkbox.setAttribute("checked", true)
		}
	}

	document.getElementById("hour_preference").value = preferences.hour.toString()

	if("<%- user.schedule %>"){
		document.getElementById("timezone-offset").value = "<%- user.schedule %>"
	}else{
		// No schedule
		console.log("no timezone")
		_addAlertMessage("warning", "You won't receive any email if you don't choose a timezone first.", 60*1000)
	}
</script>
<div class="container">
	<%- include('_footer') %>